* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100%;
  background-image: url("background-2.jpg");
}

.bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}
header {
  width: 100%;
  height: 8vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom right,
    rgba(156, 198, 215, 0.3),
    rgba(130, 164, 178, 0.1)
  );
  backdrop-filter: blur(2px);
  user-select: none;
}
header nav {
  text-align: center;
}

header nav ul {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media screen and (max-device-width: 1024px) {
  header nav ul {
    gap: 15px;
    width: 65vw;
  }
  header nav ul li {
    padding: 2px;
  }
  a {
    font-size: 0.8em;
  }
}
@media screen and (min-device-width: 1024px) {
  header nav ul {
    gap: 60px;
    width: 95vw;
  }
  header nav ul li {
    padding: 5px;
  }
  a {
    font-size: 1.2em;
  }
}

a {
  text-decoration: none;
  font-family: adobe-handwriting-frank, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3c3c3c;
}
li {
  list-style-type: none;
}
.quote p {
  font-family: adobe-handwriting-frank, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
  margin: 5vw 0 0 10vw;
}
.bottom-quote p {
  font-family: adobe-handwriting-ernie, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.6em;
  margin: 19vw 0 0 27vw;
}
