* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100%;
  background-image: url("background-2.jpg");
}

.bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}
header {
  width: 100%;
  height: 8vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom right,
    rgba(156, 198, 215, 0.3),
    rgba(130, 164, 178, 0.1)
  );
  backdrop-filter: blur(2px);
  user-select: none;
}
header nav {
  text-align: center;
}

header nav ul {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media screen and (max-device-width: 400px) {
  header nav ul {
    gap: 15px;
    width: 65vw;
  }
  header nav ul li {
    padding: 1px;
  }
  a {
    font-size: 0.8em;
  }
  .quote p {
    font-size: 0.9em;
    margin: 20vw 0 2vh 5vw;
  }
  .bottom-quote p {
    font-size: 2em;
    margin: 0.5vh 0 0 18%;
  }
  .polaroid {
    width: 150px;
    margin: 5px;
  }
  .polaroid-box {
    justify-content: center;
  }
  .headline {
    font-size: 2em;
    margin: 0;
  }
  video {
    width: 350px;
    height: auto;
  }
}

@media screen and (max-device-width: 1024px) and (min-device-width: 401px) {
  header nav ul {
    gap: 15px;
    width: 65vw;
  }
  header nav ul li {
    padding: 2px;
  }
  a {
    font-size: 0.8em;
  }
  .quote p {
    font-size: 1em;
    margin: 20vw 0 2vh 5vw;
  }
  .bottom-quote p {
    font-size: 2.5em;
    margin: 0.5vh 0 0 30%;
  }
  .polaroid {
    width: 170px;
    margin: 5px;
  }
  .polaroid-box {
    justify-content: center;
  }
  .headline {
    font-size: 3em;
    margin: 0;
  }
  video {
    width: 400px;
    height: auto;
  }
}
@media screen and (min-device-width: 1024px) {
  header nav ul {
    gap: 60px;
    width: 95vw;
  }
  header nav ul li {
    padding: 5px;
  }
  a {
    font-size: 1.2em;
  }
  .quote p {
    font-size: 1.4em;
    margin: 5vw 0 2vh 10vw;
  }
  .bottom-quote p {
    font-size: 5.6em;
    margin: 0 0 0 27vw;
  }
  .polaroid {
    width: 230px;
    margin: 0;
  }
  .polaroid-box {
    justify-content: space-evenly;
  }
  .headline {
    font-size: 5.6em;
    margin: 0;
  }
  video {
    width: 600px;
    height: auto;
  }
}

a {
  text-decoration: none;
  font-family: adobe-handwriting-frank, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3c3c3c;
}
li {
  list-style-type: none;
}
.quote p {
  font-family: adobe-handwriting-frank, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bottom-quote p {
  font-family: adobe-handwriting-ernie, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.polaroid-box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.headline {
  font-family: adobe-handwriting-ernie, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

video {
  display: block;
  margin: 0 auto;
}
